footer {
  /*    border: solid 2px black;*/
  background-color: #2ca0b2;
  clear: both;
  padding-left: 20px;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: block;
  height: auto;
}

footer section {
  display: inline-block;
}
.icons {
  width: 20px;
  height: 20px;
  border: 0;
}

.footCopy {
  text-align: center;
}


.footIcons div {
  display: inline-block;
}
footer a {
  text-decoration: none;
}

/*.copy{
  padding-left: 630px;
}
*/
