/**
 * @author Olga Osinskaya <ssinsk@yandex.ru>
 * 02/19/2018
 * Winter 2018
 * CSD 122 - JavaScript & jQuery
 * Group Project - Group 3 (Olga Osinskaya, Noah Greer, and Topher Gidos)
 *
 * CSS for the game Tic Tac Toe.
 */

 /*#rules{

   font-size: 1.5em;
 }
 */

 .grid-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: auto auto auto;
       grid-template-columns: auto auto auto;
   padding: 10px;
 }

 .grid-container input{
   width: 110px;
   height: 110px;
   background: white;
   font-size: 60px;
   text-align: center;
   padding-top: 3px;
   font-family: "Courier New";
   /*text-transform: uppercase;*/
   color: black;
 }
 .grid-item {
   /* border: 1px solid rgba(0, 0, 0, 0.8);
   font-size: 30px;
   text-align: center; */
   display: -webkit-flex; /* Safari */
display: flex;
   display: -ms-grid;
display: grid;
-ms-grid-columns: 110px 110px 110px;             /* adjusted */
    /*grid-template-columns:  repeat( 1, 20px );*/
-ms-grid-rows: 110px 110px 110px;        /* adjusted */
  /*  grid-template-rows: repeat( 3, 20px );*/
grid-gap: 30px;
-ms-grid-gap: 30px;
background: grey;

 }


#boardWrapper {
  width: 360px;
  height: 400px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 20px;
}

#rules h1{
  padding-left: 30px;
}

#rules ul{
  list-style-type: square;
  text-align: left;
}

#facts{
  padding: 0px 10px 0px 10px;
}

.gamePic{
  width: 207px;
  height: 166px;
  border: 0;
  border-radius: 5px;
}

#myBody section {
  width: 32%;
  height: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /*font-size: 1.5em;*/
}

input {

}

/* #box {
  width: 110px;
  height: 110px;
  background: white;
} */

#message {
  /*background: orange;*/
  color: #FF9933;
  font: 1.3em bold;
  text-align: center;
  cursor: pointer;
  height: 25px;

}

#reset {
  background: #3dba86;
  border: 1px solid black;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
  margin-top: 30px;
  height: 25px;
  padding: 1px;
}

#reset:hover {
  background: #303030;
}
