/**
 * @author Olga Osinskaya <ssinsk@yandex.ru>
 * 02/19/2018
 * Winter 2018
 * CSD 122 - JavaScript & jQuery
 * Group Project - Group 3 (Olga Osinskaya, Noah Greer, and Topher Gidos)
 *
 * CSS for the game Tic Tac Toe.
 */
 #boardWrapper {
   width: 360px;
   height: 400px;
  margin: auto;
  padding-bottom: 100px;
 }

 input {
   font-size: 60px;
  text-align: center;
   padding-top: 3px;
   font-family: "Courier New";
   /*text-transform: uppercase;*/
   color: black;
 }

 #box {
   width: 110px;
  height: 110px;
   background: white;
 }

 #message {
   /*background: orange;*/
   color: #FF9933;
   font: 1.3em bold;
   text-align: center;
  cursor: pointer;
 }


 #reset {
   background: #3dba86;
   border: 1px solid black;
   text-align: center;
   font-size: 25px;
   cursor: pointer;
   color: black;
   margin-top: 30px;
 }

 #reset:hover {
   background: #303030;
 }
